@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://fonts.googleapis.com/css?family=Bungee+Shade");

.titleP {
    position: relative;
    font-size: 5vw;
    -webkit-background-clip: text;
    font-family: "Bungee Shade", cursive;
    font-weight: 500;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg,#F237EF, #FC5252);
    text-align: center;
    margin-top: 2vw;
}
.infoSpace {
    position: relative;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 2vw;
    width: 80%;
    left: 10%;
    padding: 2vw;
}